{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ticket.css' %}">
    <title> {% block title %}{% endblock %} </title>
</head>

<body>

    <div class="bar">
        <div class="logo">
            <h1>НАРУШЕНИЯМ.НЕТ</h1>
        </div>
        <div class="buttons">
            <button><h3><a href="{% url 'tickets' %}">Профиль</a></h3></button>
            <button><h3><a href="{% url 'logout' %}">Выход</a></h3></button>
        </div>
    </div>

    <div class="line"></div>

    <div class="text"><h1>Новое заявление</h1></div>

    <form method="POST" class="signup-form my-form">
        {% csrf_token %}
        <div class="form-block">
            <div class="forms">
                <div class="forms-1">
                    <input type="text" id="number" name="number" placeholder="Номер ТС">
                </div>
                <div class="forms-2">
                    <input type="text" id="descr" name="descr" placeholder="Описание нарушения">
                </div>
            </div>

            <div class="b-reg">
                <button><h3>Создать</h3></button>
            </div>
            <div class="form-button">
                <p>Нет аккаунта?<button><h3>Регистрация</h3></button></p>
            </div>
        </div>
    </form>

    <div class="form-img">
        <img src="{% static 'image/image1.png' %}">
    </div>

    <div class="line-2"></div>

    <div class="footer">
        <div class="logo">
            <h1>НАРУШЕНИЯМ.НЕТ</h1>
        </div>
        <div class="img2">
            <img src="{% static 'image/image2.png' %}">
            <h2>Nar-NET@gmail.com</h2>
        </div>
        <div class="img3">
            <img src="{% static 'image/image3.png' %}">
            <h2>+7 (968) 714-4502</h2>
        </div>
    </div>

</body>

</html>