{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title> {% block title %}{% endblock %}</title>
</head>

<body>
<header>
    <div class="container header-container">
        <div class="logo linear-wipe">
            <h1>VOLVO TRUCK</h1>
        </div>
        <div class="create-btn">
            {% if user.is_authenticated %}
            <a href="{% url 'add-ticket' %}">Сформировать заявление</a>
            {% else %}
            <a href="{% url 'login' %}">Сформировать заявление</a>
            {% endif %}
        </div>

        <nav>
            {% if user.is_authenticated %}
            <p>{{ user.first_name }}</p>
            <p><a href="{% url 'tickets' %}">Ваши заявления</a></p>
            <p><a href="{% url 'logout' %}">Выйти</a></p>
            {% else %}
            <p><a href="{% url 'signup' %}">Регистрация</a></p>
            <p><a href="{% url 'login' %}">Авторизация</a></p>
            {% endif %}
        </nav>
    </div>
</header>
<div class="content">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>